* {
    box-sizing: border-box;
}

header {
	background: #fcaf3e;
	min-height: 90px;
}

header h1 {
	margin-bottom: 0px;
}


nav {
	float: left;
	width: 30%;
	background: #f57900;
	padding: 20px;
	min-height: 300px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
	float: left;
	width: 70%;
	background: #eeeeec;
	padding: 20px;
	min-height: 300px;
}

#listArticles {
	padding: 10px 0px 0px 0px;
	min-height: 10px;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
	background: #ce5c00;
	min-height: 90px;
}